# Capston Project - Battle of Neighbourhoods
## BY : Hassan Ashiq
### ------------------------------------------------------------------------------------------------------------------------------------------------------


<h1> <center> <font color=Red align=center> Week 1 : Part 1 --- Introduction/Business Problem  </font> </h1>

## --------------------------------------------------------------------------------------------------------------------------------

<h1> <font color=blue> *Description of the Problem and Discussion of the Background*



## Deciding a best venue for new Business in outside Inner City

__London is an extraordinary city. It is differing, multicultural and brimming with circumstances. Be that as it may, there is additionally another side to its fame and bid. London is a costly spot to live and flourish. Numerous organizations need to open a scene here and many follow through on top cost to have their window on Piccadilly or Oxford Street.
Be that as it may, shouldn't something be said about those ?
Who need to go into business and can't generally bear to open in the City yet? 
Where is it best to open another spot? 
Where will it be least expensive and will have enough individuals living around to be mainstream? 
Where the opposition isn't excessively overpowering?__

<h1> <font color=orangered> Plan for this Project</font> </h1>

All the above questions and more will be answered below. The whole process will be carried out via the below plan:


<h3> <font color=blue> 1 : Acquire the Data</font> </h3>

<ul>
    <h4> <li> <p> 1.a. Name of the London Boroughs, area and population from web scrapping </p> <br> </li>
       
  <li> <p>  1.b. Filter the boroughs to get the best candidates for the analysis. </p> <br> </li>
  
  <li>1.c. Use Foresquare Data to obtain info about most popular venues.</li> </h4>
</ul>

<h3>
<font color=blue>2 : Data Visualization and Some Simple Statistical Analysis. </font>


<h3> <font color=blue> 3 : Analysis Using Clustering, Specially K-Means Clustering. </font> </h3>

<ul>
    <h4> <li> <p> 
3.a. Maximize the number of clusters. </p> <br> </li>
       
  <li> <p> 3.b. Visualization using Chloropleth Map </p> </li>
  
</ul>


<h3> <font color=blue> 4 : Compare the Neighborhoods to Find the Best Place for Starting up a Venue.  </font> </h3>

<h3> <font color=blue>5: Inference From these Results and related Conclusions. </font> </h3>

## ----------------------------------------------------------------------------------------------------------

<h1> <font color=orangered>Target Audience</font> </h1>

<h3>
<ul>
    
 <li><p> 1. First time enterpreneurs, who want to start their first business. This project will give insight into where best to open a new venue, to maximise the value for money.
     </p> <br> </li>
    
    
<li><p> 2. People who already run a business and want to branch out. Given the extra information, it may provide valuable information before decision making.
    </li> 
</h3>
    
## ------------------------------------------------------------------------------------------------------------------------

<h1> <center> <font color=Red align=center>  Week 1 : Part 2  ( Data Section )</font> </h1>

## ------------------------------------------------------------------------------------------------------------------------

<h2> <font color=Blue> Initial Data Preparation (Week 1)</font> </h2>

<ul>
<h4>    
    <li> <p> 2.1. Get The Names of Boroughs, Areas, Population, Coordinates from Wikipedia </p> <br ></li>

<li> <p> 2.2. Processing the Information From Wiki To Make Necessary Lists </p> <br> 
 
 <li> 2.3. Check and Compare with Google Search and Refine if Necessary </li>
</h4>

### ----------------------------------------------------------------------------------------------------------

<h2> <font color=YellowOrange> Importing Important Modules </font> </h2>

In [63]:
from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import requests
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors


<h2> <font color=YellowOrange>Reading our target wikipedia URL through Pandas and assigning it to variabe -- LDF ( London Data Frame )</font> </h2>

In [22]:
url='https://en.wikipedia.org/wiki/List_of_London_boroughs'

LDF=pd.read_html(url, header=0)[0]

LDF.head()

,Borough,Inner,Status,Local authority,Political control,Headquarters,Area (sq mi),Population (2013 est)[1],Co-ordinates,Nr. in map
0,Barking and Dagenham [note 1],NaN,NaN,Barking and Dagenham London Borough Council,Labour,"Town Hall, 1 Town Square",13.93,194352,51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E,25
1,Barnet,NaN,NaN,Barnet London Borough Council,Conservative,"Barnet House, 2 Bristol Avenue, Colindale",33.49,369088,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W,31
2,Bexley,NaN,NaN,Bexley London Borough Council,Conservative,"Civic Offices, 2 Watling Street",23.38,236687,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E,23
3,Brent,NaN,NaN,Brent London Borough Council,Labour,"Brent Civic Centre, Engineers Way",16.70,317264,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W,12
4,Bromley,NaN,NaN,Bromley London Borough Council,Conservative,"Civic Centre, Stockwell Close",57.97,317899,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E,20

<h2> <font color=YellowOrange> Dropping the extras, that will not be needed for the analysis. </font> </h2>

In [23]:
LF = LDF.drop(['Status','Local authority','Political control','Headquarters','Nr. in map'], axis=1)
LF['Inner'].replace(np.nan,'0', inplace=True)
LF['Borough'].replace('Barking and Dagenham [note 1]','Barking and Dagenham', inplace=True)
LF['Borough'].replace('Greenwich [note 2]','Greenwich', inplace=True)
LF['Borough'].replace('Hammersmith and Fulham [note 4]','Hammersmith and Fulham', inplace=True)
Inn = ['Camden','Greenwich','Hackney','Hammersmith and Fulham','Islington','Kensington and Chelsea','Lewisham','Lambeth','Southwark','Tower Hamlets','Wandsworth','Westminster']
LF.head()
LF['Inner'] = '0'
LF.head()

,Borough,Inner,Area (sq mi),Population (2013 est)[1],Co-ordinates
0,Barking and Dagenham,0,13.93,194352,51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E
1,Barnet,0,33.49,369088,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W
2,Bexley,0,23.38,236687,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E
3,Brent,0,16.70,317264,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W
4,Bromley,0,57.97,317899,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E

<h2> <font color=YellowOrange> We will rename the Columns to make it easy to read</font> </h2>

In [24]:
LF['Inner'] = LF.Borough.isin(Inn).astype(int)
Out = LF[LF.Inner == 0]
Out = Out.drop(['Inner'], axis=1)
df = Out.rename(columns = {"Area (sq mi)": "Area", 
                            "Population (2013 est)[1]":"Population"})
df.head()

,Borough,Area,Population,Co-ordinates
0,Barking and Dagenham,13.93,194352,51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E
1,Barnet,33.49,369088,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W
2,Bexley,23.38,236687,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E
3,Brent,16.70,317264,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W
4,Bromley,57.97,317899,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E

<h2> <font color=YellowOrange>Getting Latitude and Longitude form Geolocator using Nominatim.</font> </h2>

In [46]:
geolocator = Nominatim(user_agent="London_explorer")
df['Co-ordinates']= df['Borough'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))
df[['Latitude', 'Longitude']] = df['Co-ordinates'].apply(pd.Series)
df.head()

,Borough,Area,Population,Co-ordinates,Max_Rent,Latitude,Longitude
0,Barking and Dagenham,13.93,194352,"(51.5541171, 0.15050434261994267)",102.25,51.554117,0.150504
1,Barnet,33.49,369088,"(51.65309, -0.2002261)",150.75,51.653090,-0.200226
2,Bexley,23.38,236687,"(39.9692378, -82.936864)",97.00,39.969238,-82.936864
3,Brent,16.70,317264,"(32.9373463, -87.1647184)",150.75,32.937346,-87.164718
4,Bromley,57.97,317899,"(51.4028046, 0.0148142)",118.50,51.402805,0.014814

<h2> <font color=YellowOrange> Here, i am going to filter it more because one of the biggest issue for new businesses is the price. So, we will get those boroughs which have the lowest price </font> </h2>

In [47]:
Max_Rent = ['102.25','150.75','97','150.75','118.5','129.25','140','102.25','107.75','140','86','161.5','161.5','140','123.75','134.5','118.5','140','129.25','145.25']
df['Max_Rent'] = Max_Rent

df["Max_Rent"] = pd.to_numeric(df["Max_Rent"])
fin = df[df.Max_Rent <= 125]
fin

,Borough,Area,Population,Co-ordinates,Max_Rent,Latitude,Longitude
0,Barking and Dagenham,13.93,194352,"(51.5541171, 0.15050434261994267)",102.25,51.554117,0.150504
2,Bexley,23.38,236687,"(39.9692378, -82.936864)",97.00,39.969238,-82.936864
4,Bromley,57.97,317899,"(51.4028046, 0.0148142)",118.50,51.402805,0.014814
8,Enfield,31.74,320524,"(51.6520851, -0.0810175)",102.25,51.652085,-0.081018
12,Haringey,11.42,263386,"(51.587929849999995, -0.10541010599099046)",107.75,51.587930,-0.105410
14,Havering,43.35,242080,"(51.0043613, -2.337474942629507)",86.00,51.004361,-2.337475
22,Merton,14.52,203223,"(51.410802849999996, -0.18809850595572736)",123.75,51.410803,-0.188099
24,Redbridge,21.78,288272,"(51.5763203, 0.0454097)",118.50,51.576320,0.045410

<h2> <font color=YellowOrange>Finally, we edit the coordinates, that are incorrect.</font> </h2>

In [48]:

Long_list = fin['Longitude'].tolist()
Lat_list = fin['Latitude'].tolist()

replace_longitudes = {-106.6621329:0.0799, -2.8417544: 0.1837}
replace_latitudes = {50.7164496:51.6636, 51.0358628: 51.5499}

longtitudes_new = [replace_longitudes.get(n7,n7) for n7 in Long_list]
latitudes_new = [replace_latitudes.get(n7,n7) for n7 in Lat_list]

fin = fin.drop(['Co-ordinates', 'Longitude'], axis=1)

fin['Longitude'] = longtitudes_new
fin['Latitude'] = latitudes_new

fin

                 Borough   Area  Population  Max_Rent   Latitude  Longitude
0   Barking and Dagenham  13.93      194352    102.25  51.554117   0.150504
2                 Bexley  23.38      236687     97.00  39.969238 -82.936864
4                Bromley  57.97      317899    118.50  51.402805   0.014814
8                Enfield  31.74      320524    102.25  51.652085  -0.081018
12              Haringey  11.42      263386    107.75  51.587930  -0.105410
14              Havering  43.35      242080     86.00  51.004361  -2.337475
22                Merton  14.52      203223    123.75  51.410803  -0.188099
24             Redbridge  21.78      288272    118.50  51.576320   0.045410

<h2> <font color=YellowOrange>Now lets make a map, with all boroughs in question marked up</font> </h2>

In [49]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
address = 'London'

geolocator = Nominatim(user_agent="London_explorer")
location = geolocator.geocode(address)
London_latitude = location.latitude
London_longitude = location.longitude
print('The geograpical coordinates of London are {}, {}.'.format(London_latitude, London_longitude))

The geograpical coordinates of London are 51.5073219, -0.1276474.

<h4> <font color=Red > Please zoom out to see the markers</font> </h4>

In [52]:
#!pip install folium
#zoom out to see the markers
import folium

borough_map = folium.Map(location=[London_latitude, London_longitude], zoom_start=10)


for lat, lng, label in zip(fin['Latitude'], fin['Longitude'], 
                            fin['Borough']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=9,
        popup=label,
        color='Green',
        fill=True,
        fill_color='#Blue',
        fill_opacity=0.7).add_to(borough_map)
borough_map

<h2> <font color=YellowOrange>Using Foursqaure API to get the Venues. Since we have a big borough area, so we will take  a big radius.
</font> </h2>

In [53]:
CLIENT_ID = 'MQQXHBN1NLGAYJG445WR5EWZ0OSI4SP2YKWMHSU53AQB3MF2' #'your-client-ID' # your Foursquare ID
CLIENT_SECRET = 'GKQC1M3LQFGRCGBHWQABJA1CG0CLPP0FDK1UG4X4YFZV2ANK' #'your-client-secret' # your Foursquare Secret
VERSION = '20190915' # Foursquare API version

print('My credentails:')
print('My CLIENT_ID: ' + CLIENT_ID)
print('My CLIENT_SECRET:' + CLIENT_SECRET)

My credentails:
My CLIENT_ID: MQQXHBN1NLGAYJG445WR5EWZ0OSI4SP2YKWMHSU53AQB3MF2
My CLIENT_SECRET:GKQC1M3LQFGRCGBHWQABJA1CG0CLPP0FDK1UG4X4YFZV2ANK

#### Function for getting venues

In [54]:
radius = 5000
LIMIT = 100

def getVenues(names, latitudes, longitudes, radius=5000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Borough', 
                  'Latitude', 
                  'Longitude', 
                  'Venue', 
                  'Venue_Lat', 
                  'Venue_Long', 
                  'Venue_Category']
    
    return(nearby_venues)

### Using our function to get venues

In [55]:
Brgh_Venues = getVenues(names=fin['Borough'],
                        latitudes=fin['Latitude'],
                        longitudes=fin['Longitude'])

Barking and Dagenham
Bexley
Bromley
Enfield
Haringey
Havering
Merton
Redbridge



<h2> <font color=YellowOrange>Why not to count the venues in every borough to get the scale of our data
</font> </h2>

In [56]:
Brgh_Venues.groupby('Borough').count()

,Latitude,Longitude,Venue,Venue_Lat,Venue_Long,Venue_Category
Borough,,,,,,
Barking and Dagenham,100,100,100,100,100,100
Bexley,86,86,86,86,86,86
Bromley,100,100,100,100,100,100
Enfield,100,100,100,100,100,100
Haringey,100,100,100,100,100,100
Havering,7,7,7,7,7,7
Merton,100,100,100,100,100,100
Redbridge,100,100,100,100,100,100



<h2> <font color=YellowOrange>Lets see which venues are more popular than the others

</font> </h2>

In [57]:
London_Brgh_onehot = pd.get_dummies(Brgh_Venues[['Venue_Category']], prefix="", prefix_sep="")
mid =  Brgh_Venues['Borough']

London_Brgh_onehot.insert(0, 'Borough', mid)

London_Brgh_onehot.head()

,Borough,ATM,American Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,Asian Restaurant,Athletics & Sports,Bakery,Bank,...,Theater,Trail,Turkish Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Wine Bar,Wine Shop,Wings Joint,Women's Store
0,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Barking and Dagenham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
Brgh_grouped = London_Brgh_onehot.groupby('Borough').mean().reset_index()
Brgh_grouped

,Borough,ATM,American Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,Asian Restaurant,Athletics & Sports,Bakery,Bank,...,Theater,Trail,Turkish Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Wine Bar,Wine Shop,Wings Joint,Women's Store
0,Barking and Dagenham,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.00,0.020000,0.000000,...,0.010000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
1,Bexley,0.011628,0.011628,0.00,0.00,0.011628,0.00,0.00,0.023256,0.011628,...,0.011628,0.00,0.011628,0.00,0.023256,0.011628,0.00,0.011628,0.011628,0.011628
2,Bromley,0.000000,0.010000,0.00,0.00,0.000000,0.01,0.01,0.000000,0.000000,...,0.000000,0.00,0.020000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
3,Enfield,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.01,0.030000,0.000000,...,0.010000,0.00,0.080000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
4,Haringey,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.00,0.040000,0.000000,...,0.010000,0.04,0.090000,0.01,0.000000,0.000000,0.01,0.000000,0.000000,0.000000
5,Havering,0.000000,0.000000,0.00,0.00,0.000000,0.00,0.00,0.000000,0.000000,...,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
6,Merton,0.000000,0.000000,0.01,0.00,0.000000,0.02,0.00,0.000000,0.000000,...,0.010000,0.00,0.010000,0.01,0.000000,0.000000,0.01,0.000000,0.000000,0.000000
7,Redbridge,0.000000,0.000000,0.00,0.02,0.000000,0.00,0.00,0.030000,0.000000,...,0.000000,0.00,0.010000,0.01,0.000000,0.000000,0.01,0.000000,0.000000,0.000000



<h3> <font color=Red>We are seeing a lot of zeros which makes it is easy to assume, that people there just sit at home! Lets see, which of the venues are most popular?
</font> </h3>

In [59]:
num_top_venues = 5

for brgh in Brgh_grouped['Borough']:
    print("_________"+brgh+"________")
    temp = Brgh_grouped[Brgh_grouped['Borough'] == brgh].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

_________Barking and Dagenham________
           venue  freq
0    Supermarket  0.10
1           Park  0.09
2  Grocery Store  0.08
3    Coffee Shop  0.08
4            Pub  0.07


_________Bexley________
                venue  freq
0         Pizza Place  0.08
1         Coffee Shop  0.06
2      Ice Cream Shop  0.05
3  Chinese Restaurant  0.03
4      Discount Store  0.03


_________Bromley________
           venue  freq
0            Pub  0.10
1    Coffee Shop  0.10
2  Grocery Store  0.07
3           Park  0.06
4    Supermarket  0.05


_________Enfield________
                venue  freq
0         Coffee Shop  0.08
1                 Pub  0.08
2  Turkish Restaurant  0.08
3                Park  0.06
4    Greek Restaurant  0.05


_________Haringey________
                venue  freq
0                Café  0.09
1                 Pub  0.09
2  Turkish Restaurant  0.09
3                Park  0.07
4         Coffee Shop  0.06


_________Havering________
               venue  freq
0          Pet Store  0.14
1   Indoor Play Area  0.14
2  Electronics Store  0.14
3      Event Service  0.14
4        IT Services  0.14


_________Merton________
         venue  freq
0          Pub  0.12
1         Park  0.10
2  Coffee Shop  0.06
3          Bar  0.05
4         Café  0.05


_________Redbridge________
         venue  freq
0          Pub  0.19
1         Park  0.10
2  Coffee Shop  0.06
3         Café  0.06
4   Restaurant  0.05



<h3> <font color=YellowOrange>Let's convert it to DataFrame</font> </h3>

In [79]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]


num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Borough']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
brgh_venues_sorted = pd.DataFrame(columns=columns)
brgh_venues_sorted['Borough'] = Brgh_grouped['Borough']

for ind in np.arange(Brgh_grouped.shape[0]):
    brgh_venues_sorted.iloc[ind, 1:] = return_most_common_venues(Brgh_grouped.iloc[ind, :], num_top_venues)

brgh_venues_sorted.head(8)

,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Barking and Dagenham,Supermarket,Park,Grocery Store,Coffee Shop,Pub
1,Bexley,Pizza Place,Coffee Shop,Ice Cream Shop,Discount Store,Chinese Restaurant
2,Bromley,Coffee Shop,Pub,Grocery Store,Park,Pizza Place
3,Enfield,Pub,Coffee Shop,Turkish Restaurant,Park,Supermarket
4,Haringey,Café,Pub,Turkish Restaurant,Park,Coffee Shop
5,Havering,Event Service,IT Services,Indoor Play Area,Hotel,Electronics Store
6,Merton,Pub,Park,Coffee Shop,Café,Bar
7,Redbridge,Pub,Park,Café,Coffee Shop,Restaurant



<h3> <font color=YellowOrange>We have only 3 clusters and thats because the ammount of boroughs is small</font> </h3>

In [80]:

kclusters = 3

brgh_grouped_clustering = Brgh_grouped.drop('Borough', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(brgh_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 2, 1, 1, 1, 0, 1, 1])



<h3> <font color=YellowOrange>SO, lets join all of our dataframes together for the main event!</font> </h3>

In [81]:
brgh_venues_sorted.insert(0, 'Cluster Label', kmeans.labels_)
Borough_merged = pd.merge(fin,brgh_venues_sorted, on='Borough')
Borough_merged

,Borough,Area,Population,Max_Rent,Latitude,Longitude,Cluster Label,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Barking and Dagenham,13.93,194352,102.25,51.554117,0.150504,1,Supermarket,Park,Grocery Store,Coffee Shop,Pub
1,Bexley,23.38,236687,97.00,39.969238,-82.936864,2,Pizza Place,Coffee Shop,Ice Cream Shop,Discount Store,Chinese Restaurant
2,Bromley,57.97,317899,118.50,51.402805,0.014814,1,Coffee Shop,Pub,Grocery Store,Park,Pizza Place
3,Enfield,31.74,320524,102.25,51.652085,-0.081018,1,Pub,Coffee Shop,Turkish Restaurant,Park,Supermarket
4,Haringey,11.42,263386,107.75,51.587930,-0.105410,1,Café,Pub,Turkish Restaurant,Park,Coffee Shop
5,Havering,43.35,242080,86.00,51.004361,-2.337475,0,Event Service,IT Services,Indoor Play Area,Hotel,Electronics Store
6,Merton,14.52,203223,123.75,51.410803,-0.188099,1,Pub,Park,Coffee Shop,Café,Bar
7,Redbridge,21.78,288272,118.50,51.576320,0.045410,1,Pub,Park,Café,Coffee Shop,Restaurant



<h3> <font color=YellowOrange> Mapping the clusters. ( P.S : Don't expect much from this) </font> </h3>

In [82]:
map_clusters = folium.Map(location=[London_latitude, London_longitude], zoom_start=10)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster, rent, pop in zip(Borough_merged['Latitude'],
                                  Borough_merged['Longitude'],
                                  Borough_merged['Borough'],
                                  Borough_merged['Cluster Label'],
                                  Borough_merged['Max_Rent'],
                                  Borough_merged['Population']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster) + " " + "Rent " + str(rent) + " " + "Population " + str(pop), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=25,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters



<h3> <font color=Red> After seeing the clusters, it is worth looking into each one with a bit more detail, to see, which one is better suited for opening a new business venture. </font> </h3>

### -----------------------------------------------------------------------------------------------------------------------------

<h2> <font color=Green>Cluster with Label=0

In [87]:
Borough_merged.loc[Borough_merged['Cluster Label'] == 0, Borough_merged.columns[[0,1,2,4] + list(range(6, Borough_merged.shape[1]))]]

,Borough,Area,Population,Latitude,Cluster Label,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
5,Havering,43.35,242080,51.004361,0,Event Service,IT Services,Indoor Play Area,Hotel,Electronics Store



<h2> <font color=Green> Comments on Cluster with label 0 : have a very Electric Type Picure. Event Service is a most popular venue. This cluster is of no interest since most the venues are reltaed to IT or Electric Appliances. </font> </h2>


### ---------------------------------------------------------------------------------------------------------------------------------


<h2> <font color=Red>Cluster with Label=1

In [75]:
Borough_merged.loc[Borough_merged['Cluster Label'] == 1, Borough_merged.columns[[0,1,2,4] + list(range(6, Borough_merged.shape[1]))]]

,Borough,Area,Population,Latitude,Cluster Label,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Barking and Dagenham,13.93,194352,51.554117,1,Supermarket,Park,Grocery Store,Coffee Shop,Pub
2,Bromley,57.97,317899,51.402805,1,Coffee Shop,Pub,Grocery Store,Park,Pizza Place
3,Enfield,31.74,320524,51.652085,1,Pub,Coffee Shop,Turkish Restaurant,Park,Supermarket
4,Haringey,11.42,263386,51.587930,1,Café,Pub,Turkish Restaurant,Park,Coffee Shop
6,Merton,14.52,203223,51.410803,1,Pub,Park,Coffee Shop,Café,Bar
7,Redbridge,21.78,288272,51.576320,1,Pub,Park,Café,Coffee Shop,Restaurant



<h3> <font color=Red>Comments on Cluster with Label 1 : Biggest and the most diverse cluster. Most of the boroughs are not heavy drinkers, but neither are they very outgoing. Because I would not call visit to the grocery store as a social route! However, Haringey and Bromley are good fits to our target boroughs: both have entertainment venues as most common, both rather big and quite populated. In this situation perhaps Haringey has a slight financial edge - cheaper rent a more incline to pubs and coffee shops in the area</font> </h3>


### ---------------------------------------------------------------------------------------------------------------------------------
<h3> <font color=Blue>  Cluster with Label=2

In [85]:
Borough_merged.loc[Borough_merged['Cluster Label'] == 2, Borough_merged.columns[[0,1,2,4] + list(range(6, Borough_merged.shape[1]))]]

,Borough,Area,Population,Latitude,Cluster Label,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
1,Bexley,23.38,236687,39.969238,2,Pizza Place,Coffee Shop,Ice Cream Shop,Discount Store,Chinese Restaurant

<h3> <font color=blue>Comments on cluster with Label 2:  Not that much good. With little Area there are a lot of things for eating only. No park, no entertainment etc. So, on should not go for it

### -------------------------------------------------------------------------------------------------------------------------------------------------

<h1> <center> <font color=Red align=center>  Results </font> </h1>

## ------------------------------------------------------------------------------------------------------------------------

<h3> <p> Results of the above analysis and clustering cam be summarized as: </p><br>

The most popular social venues, ouside of Inner London boroughs are Pubs and Coffee shops
Northern boroughs are more prone to visiting pubs, whereas southern boroughs are most likely to shop and have the social life from home. <br><br>
Within top 5 places of interest in every borough is an ethnic restaurant.
Rent price is not so much a factor for going out - the demand is not affected by difference in costs

### -------------------------------------------------------------------------------------------------------------------------------------------------

<h1> <center> <font color=Red align=center> Discussions </font> </h1>

## ------------------------------------------------------------------------------------------------------------------------

<h3 > <p> 
    Looking at the data, Havering, Bromley and Enfield are the best places outside of Central London where a new venue is worth opening.<font color=red><i> However, a lot of information is not taken into account, and cannot be obtained from Foursquare Developer: </i></font>
<ul>
    
<li> Higher ethnic presence in a given borough can and will influence the popularity of a given cuisine. </li><br><br>
    
<li>Closer proximity to Inner boroughs and better transport links allows people to travel to the neighbouring borough and impact the measurements </li> <br><br>

<li> Many small venues are not registered in Foursquare and are marketed via word-of-mouth, and are not taken into account </li><br><br>

<font color=green> <i> Regardless of all that, our  analysis provided an insight into what people like and opt for, when it comes to going out in their own neighbourhoods.

### -------------------------------------------------------------------------------------------------------------------------------------------------

<h1> <center> <font color=Red align=center> Conclusion </font> </h1>

## ------------------------------------------------------------------------------------------------------------------------

<h3> 
<font color=blue> Finally to conclude this project, I have had a good experience of a trial run at solving a real-life problem, using available data to find a business solution. Which in our case was to find a best venue for new Business Ventre in London. <br><br>


Besides that this project made me to : 
<ul>
    
<li> Use of some frequently used python librairies to manipilate data. </li><br><br>

<li> Use Foursquare API to explore the information on the Boroughs I looked into and managed to make a map of results, that allowed me to ilustrate my point graphicly and quite clearly to someone, not familiar with data manipulation and who only wants to know one thing - where will my venue be flourishing?? </li><br><br>

<li> <i> Overall, this project gives me a really good platform to practice all of my previous courses in this specialization. </i> </li>

<font color=green> Thank You Coursera and IBM for changing lives </font>

## End of Our Journey at IBM Data Science Specialization 

### Project by : Hassan Ashiq
#### https://www.linkedin.com/in/hassan-ashiq